
html, body {
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #161616;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
}

header a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

main {
    padding: 1rem;
}

.textinput {
    position: relative;
    border: 1px solid;
    height: 12rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    margin-bottom: 1rem;
    resize: none;
}

.titleinput{
    position: relative;
    border: 1px solid;
    height: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-family: inherit;
    margin-bottom: 1rem;
    resize: none;
    
}

.bloginput {
    position: relative;
    margin: 1rem;
    width: 80%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.bloginput label {
    margin: 0.5rem;
}

.content {
    padding: 1rem;
}

.bloglistings {
    display: flex;
    flex-direction: column;
}

.loginnav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2rem;
}

.auth {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}

.blogtitle{
    margin-bottom: 1rem;
}

.homelink{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.navigation{
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightblue;
  }

#gameText{
    width: 80%;
}

.logintext {
    font-size: 30px;
    margin-bottom: 2rem;
}

.description{

}

.blogcard{
    width: 60%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #009de1;
}

.blogcard a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.blogcard p {
    margin-bottom: 0px;
    color: white;
}

button {
    border: 0px;
    padding: 0.7rem;
}

.blogbutton {
    width: 5rem;
    border: 0px;
    padding: 0.7rem;
}