
html, body {
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #161616;
    color: white;
    padding: 1rem;
    align-items: baseline;
}

header h1 {
    font-size: 1.5rem;
}

header aa~ {
    color: white;
    text-decoration: none;
}

header nav {
    margin-left: 2rem;
}

header nav a {
    transition: all;
    transition-duration: 0.5s;
    padding: 0.2rem;
}

header nav a:hover {
    color: aquamarine;
    padding: 0.2rem;
}

main {
    padding: 1rem;
}

.textinput {
    position: relative;
    width: 85%;
    height: 20rem;
    resize: none;
    font-family: inherit;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 1rem;
}

.blogbutton{
    background-color: rgb(202, 255, 202);
    border-radius: 5px;
    border: 1px solid
}

.titleinput{
    position: relative;
    border: 3px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 1rem
    
}

.bloginput {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    padding: 1rem;
}

.bloglistings {
    display: flex;
    flex-direction: column;
}

.loginnav {
    margin-left: 63%;
    float: right;
    display: flex;
    flex-direction: row;
    
}

.auth {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}

.blogtitle{
    margin-bottom: 1rem;
}

.homelink{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.navigation{
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightblue;
  }

#gameText{
    width: 80%;
}

.logintext {
    font-size: 30px;
    margin-bottom: 2rem;
}

.description{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 5px;
}

.blogcard{
    width: 50%;
    border: 2px solid black;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 15px;
}

