{% extends 'base.html' %}

{% block header %}
    <div>
        <a class="homelink" href="/">UNICEF Brebeuf</a>
    </div>
    <nav>
        <a href="/blog" class="navigation">Blog</a>
        <a href="/blog/submit" class="navigation">Write a blog</a>
    </nav>
    <div class="loginnav">
        <a href="/auth/register" class="auth">Register</a>
        <a href="/auth/login" class="auth">Login</a>
    </div>
    </nav>
{% endblock %}

{% block content %}
    {{ g.blogHtml|safe }}
{% endblock %}