{% extends 'base.html' %}

{% block header %}
    <div>
        <h1>UNICEF Brebeuf</h1>
    </div>
    <nav>
        <a href="game.html">Game</a>
        <a href="/blog">Blog</a>
        <a href="/blog/unicef">UNICEF</a>
    </nav>
{% endblock %}

{% block content %}
    <form class="bloginput" method="post">
        <label for="titleinput">Title</label>
        <textarea name="titleinput" class="titleinput" ></textarea>
        <label for="descriptioninput">Description</label>
        <textarea name="descriptioninput" class="descriptioninput" ></textarea>
        <label for="textinput">Textinput</label>
        <textarea name="textinput" class="textinput" ></textarea>
        <input type="submit" value="Register">
    </form>
{% endblock %}