{% extends 'base.html' %}

{% block header %}
    <div>
        <h1>UNICEF Brebeuf</h1>
    </div>
    <nav>
        <a href="game.html">Game</a>
        <a href="/blog">Blog</a>
        <a href="/blog/unicef">UNICEF</a>
    </nav>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="user" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="pass" id="password" required>
        <input type="submit" value="Log In">
    </form>
{% endblock %}