{% extends 'base.html' %}

{% block header %}
    <div>
        <h1>UNICEF Brebeuf</h1>
    </div>
    <nav>
        <a href="game.html">Game</a>
        <a href="/blog">Blog</a>
        <a href="/blog/unicef">UNICEF</a>
    </nav>
{% endblock %}

{% block content %}
<div>
<h1 align="center">Liens concernant UNICEF</h1>

<table>
    <tr>
        <th> Main page:</th>
        <td><a href="https://www.unicef.org" target = "_blank"> https://www.unicef.org/ </a> </td>
    </tr>
    <tr>
        <th> Donation Link </th>
        <td><a href="https://secure.unicef.ca/page/31858/donate/1" target = "_blank"> https://secure.unicef.ca/page/31858/donate/1 </a> </td>
    </tr>
</table>


</div>
{% endblock %}