{% extends 'base.html' %}

{% block header %}
<div>
    <a class="homelink" href="/">UNICEF Brebeuf</a>
</div>
<nav>
    <a href="/blog/unicef">UNICEF</a>
    <a href="/blog" class="navigation">Blog</a>
    <a href="/blog/submit" class="navigation">Write a blog</a>
</nav>
<div class="loginnav">
    <a href="/auth/register" class="auth">Register</a>
    <a href="/auth/login" class="auth">Login</a>
</div>
{% endblock %}

{% block content %}
<div>
<h1 align="center">Liens concernant UNICEF</h1>

<table>
    <tr>
        <th> Main page:</th>
        <td><a href="https://www.unicef.org" target = "_blank"> https://www.unicef.org/ </a> </td>
    </tr>
    <tr>
        <th> Donation Link </th>
        <td><a href="https://secure.unicef.ca/page/31858/donate/1" target = "_blank"> https://secure.unicef.ca/page/31858/donate/1 </a> </td>
    </tr>
</table>


</div>
{% endblock %}